.TemplateAddsignaturedrawer > div:nth-child(3) {
  box-sizing: border-box;
  width: 832px;
  max-width: 90%;
}
.TempAddsignaturemaindiv {
  width: 100%;
  padding: 0px 32px;
  margin-bottom: 32px;
}
@media screen and (max-width: 600px) {
  .TempAddsignaturemaindiv {
    padding: 0px 16px;
  }
}
.searchinputtempaddsign {
  color: currentcolor;
  border: none;
  box-sizing: content-box;
  background: rgb(243, 243, 243);
  height: 23px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 100%;
  border-radius: 5px !important;
  animation-duration: 10ms;
  padding: 8.5px 2px 8.5px 14px;
}
.searchinputtempaddsign:focus-visible {
  outline: none;
}
