.tempbuilderhead {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.334;
  letter-spacing: 0em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  margin: 0px 0px 24px;
}
.tempbuildetwholediv {
  width: 100%;
  padding: 0px 48px;
}
.tempbuildermaindiv {
  display: flex;
  margin-bottom: 32px;
}
.temptitleinputdiv {
  width: 33.33%;
  display: flex;
  justify-content: center;
}
.tempbuilderbtninputdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tempbuiltdrawer > div:nth-child(3) {
  box-sizing: border-box;
  width: 1337px;
  max-width: 90%;
}
.tempbuilder2nddiv {
  max-width: 508px;
  width: 100%;
  padding-left: 16px;
}
.darkbtndiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0px 16px;
}
.Savetempbuilderbtn {
  text-transform: inherit !important;
  background-color: #ff8e00 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 6px 16px !important;
}
.Savetempbuilderbtn:hover {
  background-color: rgb(178, 99, 0) !important;
  box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px,
    rgb(0 0 0 / 25%) 0px 3px 4px -2px !important;
}
.Savetemplatebtn {
  text-transform: inherit !important;
  background-color: #ff8e00 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 6px 16px !important;
}
.Savetemplatebtn:hover {
  background-color: rgb(178, 99, 0) !important;
  box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px,
    rgb(0 0 0 / 25%) 0px 3px 4px -2px !important;
}
.movearchtempbuilderbtn {
  text-transform: inherit !important;
  padding: 5px 15px !important;
  color: #000000de !important;
  font-weight: 500 !important;
  border: 1px solid currentcolor !important;
}
.movearchive {
  text-transform: inherit !important;
  padding: 5px 15px !important;
  color: #000000de !important;
  font-weight: 500 !important;
  border: 1px solid currentcolor !important;
}
.tabHead > div > span {
  background-color: #ff8e00;
}
.active {
  color: #ff8e00 !important;
  width: 33.33% !important;
  height: 72px !important;
  padding: 9px 16px !important;
}
.inactive {
  color: #00000099 !important;
  width: 33.33% !important;
  height: 72px !important;
  padding: 9px 16px !important;
}
.erroricon {
  font-size: 1.25rem !important;
  color: rgb(244, 67, 54) !important;
}

.emailpreview {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.refreshbtn {
  border-radius: 4px !important;
  border: 1px solid rgba(2, 136, 209, 0.5) !important;
  color: rgb(2, 136, 209) !important;
  font-weight: 500 !important;
  height: 36px !important;
  padding: 5px 13px !important;
}
.viewbtn {
  padding: 5px 15px !important;
  border: 1px solid rgba(2, 136, 209, 0.5) !important;
  font-weight: 600 !important;
  color: rgb(2, 136, 209) !important;
}
.blockview {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: rgb(244, 67, 54);
  border-width: 2px;
  margin-bottom: 16px;
}
.noaddedyet {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgb(244, 67, 54);
}
.blockviewsignature {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: rgb(255, 193, 7);
  border-width: 2px;
  margin-bottom: 16px;
}
.nosignatureadded {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgb(255, 193, 7);
}
.letterviewdiv {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px;
  min-height: 280px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.blockviewdark {
  background-color: #282c34;
  color: #f7f7f7;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: rgb(244, 67, 54);
  border-width: 2px;
  margin-bottom: 16px;
}

.blockviewsignaturedark {
  background-color: #282c34;
  color: #f7f7f7;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: rgb(255, 193, 7);
  border-width: 2px;
  margin-bottom: 16px;
}
.contvaribodydata {
  padding: 6px 16px !important;
}
.letterviewdivdark {
  background-color: #282c34;
  color: #f7f7f7;
  padding: 16px;
  min-height: 280px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.deletecontentbtn {
  text-transform: inherit !important;
  border: 1px solid rgba(244, 67, 54, 0.5) !important;
  color: rgb(244, 67, 54) !important;
  padding: 5px 15px !important;
  font-weight: 500 !important;
  margin-top: 16px !important;
}
.deletecontentbtn:hover {
  background-color: rgba(244, 67, 54, 0.04) !important;
}
.warningicon {
  color: rgb(244, 67, 54);
}
.nocontent {
  color: rgb(244, 67, 54);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin: 4px 0px;
}
.contentvariationtabs > div > div > .Mui-selected {
  color: #ff8e00 !important;
}
.contentvariationtabs > div > .MuiTabs-indicator {
  background-color: #ff8e00;
}
@media screen and (max-width: 900px) {
  .tempbuilder2nddiv {
    max-width: 100% !important;
    padding: 0px !important;
  }
  .tempbuildermaindiv {
    display: block !important;
  }
}
@media screen and (max-width: 600px) {
  .tempbuilderbtninputdiv {
    display: block !important;
  }
  .temptitleinputdiv {
    width: 100% !important;
    padding: 8px 0px;
  }
  .Savetempbuilderbtn {
    width: 100%;
  }
  .movearchtempbuilderbtn {
    width: 100%;
  }
  .tempbuildetwholediv {
    padding: 0px 8px !important;
  }
}
@media screen and (max-width: 400px) {
  .darkbtndiv {
    display: block !important;
  }
}
