.top_Div {
  width: 100%;
  background-color: #fafbfb;
  display: flex;
  justify-content: center;
}
.Profile_Container {
  width: 100%;
  max-width: 400px;
  border: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 32px;
  padding: 16px 16px 24px;
  border: 1px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 3px;
}
.cancelimgbtn {
  text-transform: inherit !important;
  margin: 16px 0px !important;
  color: rgb(255, 142, 0) !important;
}
.cancelimgbtn:hover {
  background-color: rgba(255, 142, 0, 0.04) !important;
}
.img_full {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
  cursor: pointer;
}
.saveimgbtndiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
.saveimg {
  margin: 16px 0px !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 142, 0) !important;
  padding: 6px 16px !important;
  text-transform: inherit !important;
}
.saveimg:hover {
  background-color: rgb(178, 99, 0) !important;
  box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px,
    rgb(0 0 0 / 25%) 0px 3px 4px -2px !important;
}
.timeinfo {
  height: 48px;
  align-items: center;
}
.timeinfo > div:nth-child(2) {
  width: 100%;
}
.useitbtn {
  text-transform: none !important;
}
.profileimg {
  height: 120px;
  width: 120px;
  margin: 16px 0px;
}
.select_img {
  color: #ff8e00 !important;
  text-align: center !important;
}

.RedioBtn {
  width: 100% !important;
  max-width: 100% !important;
  height: 149px;
  margin: 16px 0px 8px 0px;
}
.profilesavebtn {
  background-color: #ff8e00 !important;
  text-transform: inherit !important;
}
.profilesavebtn:hover {
  background-color: rgb(178, 99, 0) !important;
  box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px,
    rgb(0 0 0 / 25%) 0px 3px 4px -2px !important;
}

.inputfield:focus {
  border-color: #ff8e00 !important;
}

.Mui-checked {
  color: #ff8e00 !important;
}
.dob {
  width: 100%;
  max-width: 210px;
}
