.top_Div {
  width: 100%;
  background-color: #fafbfb;
  display: flex;
  justify-content: center;
}
.Profile_Container {
  width: 400px;
  height: 785px;
  border: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 16px 16px 24px;
  border: 1px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 3px
}
.img_full {
  text-align: center;
  display:flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
}
.select_img {
  color: #ff8e00 !important;
  text-align: center !important;
  padding-top: 14px !important;
}

.RedioBtn {
  width: 100% !important;
  max-width: 100% !important;
  height: 149px;
  margin: 16px 0px 8px 0px;
}
.profilesavebtn{
  background-color: #ff8e00 !important;
  text-transform: inherit !important;
}
.profilesavebtn:hover{
  background-color: rgb(178, 99, 0) !important;
    box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px, rgb(0 0 0 / 25%) 0px 3px 4px -2px !important;
}

.inputfield:focus {
  border-color: #ff8e00 !important;
}

.Mui-checked {
  color: #ff8e00 !important;
}
.dob{
  width: 100%;
  max-width: 210px;
}