.signeditdrawer > div:nth-child(3) {
  box-sizing: border-box;
  width: 860px;
  max-width: 90%;
  z-index: 1210;
}
.signedittwobtndiv {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 15px;
}
.signeditmaindiv {
  width: 100%;
  padding: 0px 32px;
}
.archivebtnsignedit {
  text-transform: inherit !important;
}
@media screen and (max-width: 600px) {
  .signedittwobtndiv {
    display: grid !important;
  }
  .signeditmaindiv {
    padding: 0px 16px;
  }
}
