.ContainerDivTop{
    width: 100% !important;
    max-width: 380px !important;
    height: 100vh !important;
    display: flex;
    

    padding-top: 32px !important;
}
.PaymentDiv::before{
    background: #ffffff;
    content: " ";
    height: 100%;
    position: fixed;
}
.logodiv{
    display: flex;
    justify-content: start;
   
}
.textFirstSales{
    font-size: 16px;
    color: hsla(0,0%,10%,.6);
}
.day7{
    font-size: 36px !important;
    font-weight: 600px !important;
}
.imgDiv{
    display: flex;
    align-items: center;
    height: 300px;
    margin: 32px 0;
    order: 2;
    width: 300px;
}
.paymentMethod{
    width: 100% ;
    max-width: 380px !important;
    padding-top: 32px !important;
   background-color:#ffffff;  
}
.details{
    font-size: 20px !important;
    padding-bottom: 20px !important;
}
.payText{
    margin-top: 12px !important;
    color: hsla(0,0%,10%,.7) !important;
    font-weight: 500;
    font-size: 16px!important;
    text-transform: inherit !important;
    padding-bottom: 20px !important;
}
.PaymentHeadDiv{
    background-color: black !important;
    width: 100% !important;
    max-width: 920px !important;
}
.PaymentDiv{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
}
.EmailFeildDiv>input{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom: none !important;
    width: 100% !important;
}
.EmailFeild>input{
border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    width: 100% !important;
}
.EmailFeildMM>input{
    border-top-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
    width: 100% !important; 
}
.EmailFeildCvv>input{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    width: 100% !important; 
}