.ContainerDivTop{
    width: 100% !important;
    max-width: 380px !important;
    height: 100vh !important;
    display: flex;
    

    padding-top: 32px !important;
}
.PaymentDiv::before{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background: #ffffff;
    content: " ";
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    width: 50%;
}
.logodiv{
    display: flex;
    justify-content: start;
   
}
.textFirstSales{
    font-size: 16px;
    color: hsla(0,0%,10%,.6);
}
.day7{
    font-size: 36px !important;
    font-weight: 600px !important;
}
.imgDiv{
    display: flex;
    align-items: center;
    height: 300px;
    margin: 32px 0;
    order: 2;
    width: 300px;
}
.paymentMethod{
    width: 100% ;
    max-width: 380px !important;
    padding-top: 32px !important;
   background-color:#ffffff;  
}
.details{
    font-size: 20px !important;
    padding-bottom: 20px !important;
    transform: translateX(1px) !important;
}
.payText{
    color: hsla(0,0%,10%,.7) !important;
    font-weight: 500;
    font-size: 16px!important;
    text-transform: inherit !important;
    padding-bottom: 10px !important;
    transform: translateX(1px) !important;
}
.PaymentDivText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px !important;
    font-weight: 500 !important;
    color: hsla(0,0%,10%,.7) !important;
    margin-top: 20px!important;
    transform: translateX(1px) !important;
}
.PaymentHeadDiv{
    background-color: black !important;
    width: 100% !important;
    max-width: 920px !important;
}
.PaymentDiv{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
}
.EmailFeildDiv>input{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom: none !important;
    width: 100% !important;
}
.EmailFeild>input{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    width: 100% !important;
}
.EmailFeildMM>input{
    border-top-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
    width: 100% !important; 
}
.EmailFeildCvv>input{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    width: 100% !important; 
}
.EmailFeildDivv>input{
    width: 100% !important;
}
.ChaeckboxDiv>input{
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-bottom: none !important;
    width: 100% !important;
}
.ChaeckboxxDiv>input{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    width: 100% !important;
}
.ChaeckboxDivv>input{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-top: none !important;
    width: 100% !important;
}
.StarttrialBtn{
    background-color: rgb(242, 142, 0) !important;
    color: rgb(0, 0, 0) !important;
    text-transform: inherit !important;
    width:100% !important;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px rgb(50 50 93 / 10%), 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%) !important;
    margin-top: 20px !important;
}
.ConfirmPayment-PostSubmit{
    margin: 20px 0px !important;
    font-size: 13px !important;
    color: hsla(0,0%,10%,.6) !important;
    text-align: center !important;
    line-height: 17px !important;
    transform: translateX(1px) !important;
}
.Footer-Links-Link {
    text-decoration: underline dotted hsla(0,0%,10%,.5);
    font-size: 12px !important;
}
.footer-powerBy{
    margin-top: 150px !important;
    padding: 0 16px 0 0;
    text-align: left;
    width: auto;
    display: flex;
    align-items: center;
}
.Lock{
    display: flex;
    align-items: center;
    font-size: 12px !important;
    padding: 2px 0 4px 6px !important;
    color: hsla(0,0%,10%,.4) !important;
    justify-content: center;
}