.tabHead > div > span {
  background-color: #ff8e00;
}
.activeTab {
  color: #ff8e00 !important;
}
.inactiveTab {
  color: #00000099 !important;
}
.emailtabs {
  padding: 0px 8px !important;
}
.erroralert {
  letter-spacing: normal !important;
}
