.warmupanadrawer > div:nth-child(3) {
  box-sizing: border-box;
  width: 1077px;
  max-width: 90%;
}
.warmupanamaindiv {
  width: 100%;
  padding: 0px 32px;
  margin-bottom: 32px;
}
.warmupanachip {
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
}
.lastfourdatadiv {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 600px) {
  .warmupanamaindiv {
    padding: 0px 16px;
  }
}
