.contactHead {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center !important;
  background-color: #fafbfb;
}
.contactBody {
  width: 900px;
  height: 848px;
  padding: 32px 8px 112px;
}
.ContactText {
  width: 96px;
  height: 32px;
  font: 24px;
  margin-bottom: 32px !important;
  margin: 0px;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.HrDiv {
  width: 100%;
  height: 1px;
  margin: 0px 0px 40px;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
}
.BoxBody {
  display: flex;
  width: 100%;
  height: 166px;
}

.BoxHead{
  width: 295px;
  height: 180px;
  margin: 8px 0px;
  padding: 36px 0px 40px 0px;
}
.BoxHead0 {
  display: flex;
  padding: 28px 0px 26px 0px;
}
.p_Tag {
  width:100%;
  height: 24px;
  margin: 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
}
.p_Tag1 {
  width: 100%;
  height: 20px;
  margin: 0px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
}
.BoxHead1 {
  width: 141px;
  height: 132px;
  padding: 22px 14px 22px 14px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-left: 5px;
}
.InnerDiv {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
}
.InnerDiv0 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.block0 {
  width: 40px;
  height: 24px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 8px;
  padding: 4px !important;
  background-color: rgb(2, 136, 209);
  display: flex;
  align-items: center;
  justify-content: center;
}

.block1 {
  width: 40px;
  height: 24px;
  margin-top: 8px;
  background-color: #f17e14;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  font-weight: 700;
  border-radius: 4px;
  padding: 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block2 {
  width: 40px;
  height: 24px;
  margin: 8px 0px 0px 0px;
  background-color: #82aeab;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  font-weight: 700;
  border-radius: 4px;
  padding: 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block3 {
  margin: 8px 0px 0px 0px;
  background-color: #9b6ec9;
  border-radius: 5px;
  width: 40px;
  height: 24px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  font-weight: 700;
  border-radius: 4px;
  padding: 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status_div {
  width: 100% !important;
  height: 24px;
  margin: 8px 0px 32px 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}
.status {
 width: 100%;
 display: flex;
 justify-content: end;
 font-size: 0.75rem;
}
.SearchHead {
  Max-width: 100%;
  display: flex;
  background: "rgb(245, 245, 245)";
  align-items: center;
  justify-content: space-between;
  border-radius: 5px !important;
}

.btnn {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap:10px !important;
}

.btn11 {
  border-color: #ff8e00;
  color: #ff8e00;
  border-radius: 4px;
  font-weight: 550px;
  text-transform: inherit !important; 
}
.btn2 {
  background-color: #ff8e00 !important;
  color: #ffffff !important;
  text-transform: inherit !important;
}
.group {
  width: 100%;
  display: flex;
  align-items: center !important;
  padding: 6px 0px 4px 5px;
  margin-top: 15px;
}

.searchinputcontact:focus-visible {
  outline: none !important;
}

.icon_1 {
  background: rgb(245, 245, 245);
  cursor: pointer;
  margin-left:-50px !important; 
  height: 42px;
}
.searchinputcontact {
  color: currentcolor;
  border: 1px solid !important;
  border-color: rgb(118, 118, 118) !important;
  box-sizing: content-box;
  background: rgb(243, 243, 243);
  height: 23px;
  margin: 0px;
  display: block;
   max-width: 500px !important;
   width :100% !important;
  animation-duration: 10ms;
  padding: 8.5px 0px 8.5px 14px;
  border-radius: 5px;
}
::placeholder {
  font-size: 15px;
}
.searchinputcontact:focus {
  border-color: #ff8e00 !important;
}

.DeleteIcon {
  width: 18px !important;
  height: 18px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  font-size: 1px !important;
}
.OuterDiv {
  width: 0px !important;
}
@media screen and (max-width:900px){
  .contactHead{
    max-width: 900px !important;
    padding: 32px 8px 112px !important;
    display: flex;
  justify-content: center;
  background-color: #fafbfb;
  }
  .BoxBody{
    display: inline !important;
    max-width: 100% !important;  
    min-width: 10px !important;
  }
  .BoxHead{
    width: 100% !important;
    max-width: 100% !important;
  }
 .BoxHead0{
  display: block !important;
  max-width: 100% !important;
 }
 .BoxHead1{
  max-width: 50% !important;
  width: 50% !important;
  margin-bottom: 10px !important;
 }
 .searchinputcontact{
 max-width: 100% !important;
 }
 .SearchHead{
  max-width: 100% !important;
 }
 .contactBody{
  max-width: 100%!important;
  max-height: 100% !important;
 }
 .SelectFeildBox{
  max-width: 300px !important;
 }
}