.textPlan{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
}
.firstPlan{
    padding-top: 32px !important;
    display: flex;
    gap: 0px 16px !important;
}
.TrailPlan{
    width: 295px !important;
    height: 171px !important;
    padding: 24px !important;
    background-color: rgb(245, 245, 245) !important;
    border-radius: 4px !important;
}
.textYouhave{
    margin: 16px 0px 0px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em !important;
}
.trailDay{
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}
.trailChip{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(76, 175, 80) !important;
}
.planDiv{
    width: 442px!important;
    height: 171px !important;
    padding: 24px !important;
    background-color: rgb(245, 245, 245) !important;
    border-radius: 4px !important;
    display: flex;
}
.MonthPlanText{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0px;
}
.PlanPrice{
    margin: 8px 0px 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-size: 1.25rem !important;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}
.NextPayment{
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.6) !important;
}
.Changeplan{
    width: 150px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    padding: 6px 16px;
    border-radius: 4px !important;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 142, 0) !important;
    text-transform: inherit !important;   
}
.ChangePlanDiv{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px !important;
   
}
.Cancelplan{
    width: 156px!important;
   margin-top: 8px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    padding: 4px 5px;
    border-radius: 4px;
    color: rgb(244, 67, 54) !important;
    text-transform:inherit !important;
}
.Plans{
    margin: 0px;
    padding: 32px 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87) !important;
}
.MonthlyPlans{
    display:flex;
    width: 100% !important;
    min-height: 158px !important;
    background-color: #F3F3F3;
    padding: 24px !important;
    margin-bottom: 32px !important;
}
.thirty{
    font-size: 28px !important;
    
}
.Months{
    margin: 8px 0px !important ;
    font-family: Roboto, Helvetica, Arial, sans-serif !important ;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    color: rgba(0, 0, 0, 0.87) !important;
}
.days{
    margin-top: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87) !important;
}
.userAccountText{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.buttonadd{
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
}
.check{
    font-size: 14px !important;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    margin-bottom:8px !important;
}
.CheckBtn{
    margin-right: 8px!important;
    font-size: 16px !important;
    color: rgb(76, 175, 80);
}
.choosePlan{
    text-transform: inherit;
    background-color:#ff8e00 !important;
    color: #ffffff !important;
    height: 40px;
    text-transform: inherit !important;
}
.infinityBtn{
    margin-right: 4px!important;
    font-size: 14px !important; 
}

@media screen and (max-width:900px)  {
  .firstPlan  {
    max-width: 900px !important;
    display: block;
    }
 .TrailPlan{
    max-width: 100% !important;
    width:  100% !important;
    margin-bottom: 10px !important ;
 }
 .planDiv{
    max-width: 100% !important;
    width:  100% !important;
 }
 .planDivInner{
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
 }
 .BillingTopDiv{
    margin: 15px !important;
 }
}
@media screen and (max-width:600px) {
    .MonthlyPlans{
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .BillingTopDiv{
       padding: 10px !important;
     }
}