.mail{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 24px !important;
    line-height: 1.334;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.87);
}
.used{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgba(0, 0, 0, 0.6);
}
.TableCellMail{
    padding: 6px 16px !important;
    max-width: 100px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
    color: rgba(0, 0, 0, 0.87) !important;
}
.AddSmtp{
    font-size: 18px !important;
}
.HRSmtp{
    margin: 64px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12) !important;
}
.TableDivEmail{
    padding-top: 24px ;
    padding-bottom: 24px;
}
.SMTPBodyDiv{
    width: 221px;
}
.SMTPTopDiv{
    display: flex;
    width: 100% !important;
    gap: 50px !important;
}
/* .TableContainerHead{
  mix

} */
@media screen and (max-width:900px){
 .SMTPTopDiv{
    display: block !important;
    max-width: 100% !important;
    justify-content: space-between !important;

 }
 .SMTPBodyDiv{
    max-width: 100% !important;
    width: 100% !important;
    row-gap: 24px !important;
 }
 .TableDivEmail{
    padding-top: 24px !important;
}
.EmailModelmainDiv{
 padding: 15px !important;
}
}