.tabHead > div > span {
  background-color: #ff8e00;
}
.activeTab {
  color: #ff8e00 !important;
}
.inactiveTab {
  color: #00000099 !important;
}
.contentmaindiv {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  overflow-x: auto;
}
