.ComtactDeleteHead{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 31%) 0px 0px 1px 0px, rgb(0 0 0 / 25%) 0px 24px 36px -8px;
    margin: 32px;
    padding: 10px  40px;
    position: relative;
    overflow-y: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    max-width: 444px;
    width: calc(100% - 64px);
}
.DeleteIconBtn{
    display: flex;
    align-items: center;
    gap: 8px;
}
.Contactdeleting{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: rgb(244, 67, 54);
}
.DeleteBtnIcon{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: rgb(244, 67, 54) !important;
}
.groupBtn{
    display: flex;
    align-items: center;
    justify-content: end;
}